.header{
    justify-content: space-around;
    display: flex;
    gap: 100px;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
}
.header_logo{
    width: 10%;
    background-color: #FFCC01;
    border-radius: 50%;
    padding: 8px;
}
.header_menu{
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    flex-direction:row;
}
.header_menu div:hover {
    cursor: pointer;
  }
.header_login{
    background: #FFCC01;
    border-radius: 30px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    color: #000000;
}  
.header_menu_item4{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 747px){
    .header_menu_item2, .header_menu_item3, .header_menu_item4{
        display:none;
    }
    .header_menu{
        flex-direction: row-reverse !important;
    }
    .header_logo{
        width: 25% !important;
    }
    .header_logo_link{
        width: 25%;
    }
    .header{ 
        gap:60px !important;
        justify-content: space-evenly !important;
        padding: 10px 0px 10px 0px !important;
    }
    .header_login{
        font-size: 16px;
    }
    .header_menu_item1{
        font-size: 16px;
    }
}